@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sheffield Uni Font */
/* Headings: black */
/* Subheadings: semibold */
/* Body: normal */
#root {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.markdown > * {
  all: revert;
}
